:root {
    --cor-primaria: #f80000;
    --cor-secundaria: #350ee2;
    --cor-texto: ;
    --cor-logo: ;
    --fonte-principal: 'Roboto',sans-serif;
    --tamanho-paragrafo: 30px;
    --tamanho-titulo: 60px;
}